/* flexbox mixins */
/* mixins for checkmarks in list */
/* styles for testive partnerships */
.testive-partnerships {
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

.partnerships-hero {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 80px 50px;
  text-align: center; }
  .partnerships-hero .partnerships-hero-header {
    font-size: 45px; }
  .partnerships-hero .partnerships-hero-orange {
    color: #F7931E;
    font-weight: 700; }

.partnerships-social-proof {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background-color: #ffffff;
  padding: 50px; }
  .partnerships-social-proof .partnerships-social-proof-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px; }
  .partnerships-social-proof .partnerships-testimonial-body {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  .partnerships-social-proof .partnerships-testimonial {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    width: 40%;
    margin-right: 4%; }
  .partnerships-social-proof .partnerships-testimonial-text {
    max-width: 440px;
    padding-bottom: 10px; }
  .partnerships-social-proof .partnerships-testimonial-tagline {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .partnerships-social-proof .partnerships-testimonial-photo {
    width: 125px;
    height: 125px; }
  .partnerships-social-proof .partnerships-testimonial-sub-tagline {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column; }
  .partnerships-social-proof .partnerships-testimonial-name {
    font-weight: 700; }
  .partnerships-social-proof .partnerships-testimonial-title {
    font-size: 12px; }
  .partnerships-social-proof .partnerships-casestudy {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    width: 40%; }
  .partnerships-social-proof .partnerships-casestudy-cta {
    text-align: center; }
  .partnerships-social-proof .partnerships-casestudy-button {
    background-color: #F7931E;
    border-radius: 5px;
    color: #ffffff;
    margin: 0 auto;
    padding: 10px 5px;
    text-align: center;
    width: 100px; }

.partnerships-about-testive-row {
  background-color: #2c3e50;
  padding: 50px 50px 75px 50px; }
  .partnerships-about-testive-row .partnerships-news-header {
    color: #F7931E;
    font-size: 22px;
    font-weight: 700;
    text-align: center; }
  .partnerships-about-testive-row .partnerships-news-icons-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  .partnerships-about-testive-row .partnerships-news-icons {
    padding: 25px 25px 50px 25px; }
  .partnerships-about-testive-row .partnerships-testive-info {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  .partnerships-about-testive-row .partnerships-molly-video {
    width: 600px;
    margin-right: 5%;
    max-width: 49%; }
  .partnerships-about-testive-row .partnerships-about-testive-column {
    color: #ffffff;
    font-weight: 300;
    text-align: left;
    max-width: 35%; }
  .partnerships-about-testive-row .partnerships-about-testive-header {
    border-bottom: solid 1px #f7931e;
    color: #F7931E;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px; }
  .partnerships-about-testive-row .partnerships-about-testive-blurb {
    margin-bottom: 10px; }
  .partnerships-about-testive-row .partnerships-about-testive-list-header {
    color: #F7931E;
    font-size: 20px;
    margin-bottom: 15px; }
  .partnerships-about-testive-row .partnerships-testive-list {
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    padding-left: 20px;
    position: relative; }
    .partnerships-about-testive-row .partnerships-testive-list li:before {
      background-image: url("../images/checkmark-orange.svg");
      background-size: contain;
      content: '';
      height: 13px;
      left: 0px;
      margin-top: 5px;
      position: absolute;
      width: 13px; }
  .partnerships-about-testive-row .partnerships-testive-list-item {
    margin-bottom: 15px; }
  .partnerships-about-testive-row .partnerships-testive-list-item:last-of-type {
    margin-bottom: 0px; }

.partnerships-contact {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background-color: #ffffff; }
  .partnerships-contact .partnerships-contact-logo-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row; }
