/* flexbox mixins */

@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flex-align-items ($direction: center) {
    -webkit-align-items: $direction;
    -ms-align-items: $direction;
    -moz-align-items: $direction;
    align-items: $direction;
}

@mixin flex-align-self ($direction: center) {
    -webkit-align-self: $direction;
    -ms-align-self: $direction;
    -moz-align-self: $direction;
    align-self: $direction;
}

@mixin flex-direction ($type: row) {
    -webkit-flex-direction: $type;
    -ms-flex-direction: $type;
    -moz-flex-direction: $type;
    flex-direction: $type;
}

@mixin flex-justify-content ($direction: center) {
    -webkit-justify-content: $direction;
    -ms-justify-content: $direction;
    -moz-justify-content: $direction;
    justify-content: $direction;
}

@mixin flex-wrap($wrap: wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    flex-wrap: $wrap;
}
/* mixins for checkmarks in list */

@mixin partnerships-list-item-checkmark-orange {
    max-width: 400px;
    position: relative;
    li:before {
        background-image: url('../images/checkmark-orange.svg');
        background-size:contain;
        content:'';
        height: 13px;
        left: 0px;
        margin-top: 5px;
        position:absolute;
        width: 13px;
    }
}
/*mixins for blue quotation marks*/
@mixin partnerships-quote-blue {
    max-width: 400px;
    position: relative;
    p:before {
        background-image: url('../images/bluequotes.svg');
        background-size:contain;
        content:'';
        height: 13px;
        left: 0px;
        margin-top: 5px;
        position:absolute;
        width: 13px;
    }
}
/* styles for testive partnerships */

.testive-partnerships {
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.partnerships-hero {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 100px;
    text-align: center;
    .partnerships-hero-header {
        font-size: 35px
    }
    .partnerships-hero-orange {
        color: #F7931E;
        font-weight: 500;
    }
}

.partnerships-social-proof {
    @include flex;
    @include flex-direction(row);
    align-content: space-between;
    background-color: #ffffff;
    padding: 50px;
    .partnerships-testimonial-body {
        @include flex;
        @include flex-direction(row);
        @include flex-justify-content(center);
    }
    .partnerships-testimonial {
        @include flex;
        @include flex-direction(row);
        padding-left: 10%;
    }
    .partnerships-testimonial-text {
        max-width: 440px;
        padding-bottom: 10px;
    }
    .partnerships-testimonial-tagline {
        @include flex;
        @include flex-direction(column);
    }
    .partnerships-testimonial-photo {
        width: 125px;
        height: 125px;
        padding: 10px;
    }
    .partnerships-testimonial-sub-tagline {
        @include flex;
        @include flex-direction(column);
    }
    .partnerships-testimonial-name {
        font-weight: 700;
    }
    .partnerships-testimonial-title {
        font-size: 12px;
    }
    .partnerships-casestudy {
        @include flex;
        @include flex-direction(column);
        padding-left: 10%
    }
    .partnerships-casestudy-intro {
        font-weight: 300;
        padding: 15px 0px;
    }
    .partnerships-casestudy-cta {
        font-weight: 500;
        padding: 15px 0px;
    }
    .partnerships-casestudy-button {
        background-color: #29abe2;
        border: solid 2px #29abe2;
        border-radius: 5px;
        color: #ffffff;
        margin: 0 auto;
        padding: 7px 5px;
        text-align: center;
        width: 70px;
        &:hover {
            background-color: #ffffff;
            color: #29abe2;
        }
    }
}

.partnerships-love {
    @include flex;
    @include flex-direction(column);
    background-color: #2c3e50;
    padding: 50px;
    color: #ffffff;
    .partnerships-love-header {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        padding-bottom: 15px;
    }
    .partnerships-love-benefitsrow {
        @include flex;
        @include flex-direction(row);
        font-weight: 300;
        padding-top: 30px;
    }
    .partnerships-love-benefit-1 {
        @include flex;
        @include flex-direction(column);
        padding: 0px 25px;
    }
    .partnerships-love-benefit-2 {
        @include flex;
        @include flex-direction(column);
        padding: 0px 25px;
    }
    .partnerships-love-benefit-3 {
        @include flex;
        @include flex-direction(column);
        padding: 0px 25px;
    }

    .partnerships-love-benefit-header {
        color: #f7931e;
        border-bottom: solid 1px #F7931E;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: center;
        text-size: 20px;
    }
    .partnerships-love-benefit-info {
        padding-bottom: 30px;
    }
    .partnerships-love-button {
        border: solid 1px #f7931e;
        border-radius: 5px;
        color: #f7931e;
        font-weight: 500;
        margin: 0 auto;
        padding: 10px 5px;
        text-align: center;
        width: 100px;
        &:hover {
            background-color: #f7931e;
            color: #2c3e50;
        }
    }

}

.partnerships-contact {
    @include flex;
    @include flex-direction(column);
    padding: 50px;
    justify-content: center;
    align-items: center;
    .partnerships-contact-header {
        color: #29ABE2;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    .partnerships-contact-text {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        padding: 20px;
    }
    .partnerships-contact-button {
        background-color: #F7931E;
        border: solid 2px #f7931e;
        border-radius: 5px;
        color: #ffffff;
        margin: 0 auto;
        padding: 10px 5px;
        text-align: center;
        width: 150px;
        &:hover {
            background-color: #ffffff;
            color: #f7931e;
        }
    }
}

.partnerships-about-testive-row {
    background-color: #2c3e50;
    padding: 50px 50px 75px 50px;
    .partnerships-news-header {
        color: #F7931E;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    .partnerships-news-icons-row {
        @include flex;
        @include flex-align-items(center);
        @include flex-direction(row);
        @include flex-justify-content(center);
    }
    .partnerships-news-icons {
        padding: 25px 25px 50px 25px;
    }
    .partnerships-testive-info {
        @include flex;
        @include flex-direction(row);
        @include flex-justify-content(center);

    }
    .partnerships-molly-video {
        width: 600px;
        margin-right: 5%;
        max-width: 49%;
        padding-top: 30px;
    }
    .partnerships-about-testive-column {
        color: #ffffff;
        font-weight: 300;
        text-align: left;
        max-width: 35%;
    }
    .partnerships-about-testive-header {
        border-bottom: solid 1px #f7931e;
        color: #F7931E;
        font-size: 20px;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    .partnerships-about-testive-blurb {
        margin-bottom: 10px;
    }
    .partnerships-about-testive-list-header {
        color: #F7931E;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .partnerships-testive-list {
        @include partnerships-list-item-checkmark-orange;
        margin: 0 auto;
        padding-left: 20px;
        position: relative;
    }
    .partnerships-testive-list-item {
        margin-bottom: 15px;
    }
    .partnerships-testive-list-item:last-of-type {
        margin-bottom: 0px;
    }}

.partnerships-schools {
    @include flex;
    @include flex-align-items(center);
    @include flex-direction(column);
    background-color: #ffffff;
    padding: 50px;
    .partnerships-contact-schools-header {
        color: #f7931e;
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 15px;
    }
    .partnerships-contact-logo-row {
        @include flex;
        @include flex-direction(row);
        @include flex-align-items(center);
    }
    .partnerships-contact-logo {
        padding: 25px 30px;
    }
}
